<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/granjaaaa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/granjaaaa"
        android:supportsRtl="true"
        android:theme="@style/Theme.RanchoMuu"
        tools:targetApi="31">

        <activity
            android:name=".mostrarPedidosUsuario"
            android:exported="false" />
        <activity
            android:name=".mostrarPedidosAdmin"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEyGzhtWJ_7nQ4EYCcn-v2396ltf0pU7Y" />

        <activity
            android:name=".GPSTiendita"
            android:exported="false"
            android:label="@string/title_activity_gpstiendita" />
        <activity
            android:name=".mostrarCarrito"
            android:exported="false" />
        <activity
            android:name=".AltaProductoPedido"
            android:exported="false" />
        <activity
            android:name=".GPSActivity"
            android:exported="false"
            android:label="@string/title_activity_gpsactivity" />
        <activity
            android:name=".PedidosUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivityusu"
            android:exported="false" />
        <activity
            android:name=".AltaProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Eliminar"
            android:exported="false" />
        <activity
            android:name=".Mostrar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>